<div>
<div class="flex items-center pb-3 gap-3 text-gray-400">{{ partial "svgs/calendar.svg" (dict "width" 16 "height" 16 "class" "h-5 w-5") }}<time class="text-gray-600" title="{{ i18n "tooltip-written" }}">{{ .Date.Format (i18n "summary-dateformat") }}</time></div>
  <div class="flex items-center pb-3 gap-3 text-gray-400">{{ partial "svgs/time.svg" (dict "width" 16 "height" 16 "class" "h-5 w-5") }} <span class="text-gray-600" title="{{ i18n "tooltip-reading-time" }}"> {{ .ReadingTime }} {{ i18n "reading-time" }}</span></div>
  {{ with .Params.Author }}
  <div class="flex items-center pb-3 gap-3 text-gray-400">{{ partial "svgs/avatar.svg" (dict "width" 16 "height" 16 "class" "h-5 w-5") }} <span class="text-gray-600" title="{{ i18n "single-writtenBy" }}">{{ . }}</span></div>
  {{ end }}
</div>