<nav class="flex py-3" aria-label="breadcrumbs" data-is-blog="{{ if eq .Type "blog" }}true{{ else }}false{{ end }}">
  {{ if eq .Type "blog" }}
    {{ partial "main/component/toggle-menu.html" . }}
  {{ end }}
  <ol class="flex items-center space-x-4">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  </ol>
  {{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  <li {{ if eq .p1 .p2 }} class="is-active" {{ end }}>
    {{ if .p1.IsHome }}
      <div>
        <a href="{{ .p1.Permalink }}" class="text-gray-400 hover:text-gray-500">
          <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
          <span class="sr-only">{{ .p1.Site.Title }}</span>
        </a>
      </div>
    {{ else if eq .p1 .p2 }}
      <div class="flex items-center">
        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
        <span class="ml-2 text-sm font-medium text-gray-500" aria-current="page">{{ i18n (lower .p1.Title) | default .p1.Title }}</span>
      </div>
    {{ else }}
      <div class="flex items-center">
        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
        <a href="{{ .p1.Permalink }}" class="ml-2 text-sm font-medium text-gray-500 hover:text-gray-700">{{ i18n (lower .p1.Title) | default .p1.Title }}</a>
      </div>
    {{ end }}
  </li>
  {{ end }}
</nav>
