{{ define "main" }}
<div class="top bg-backdrop bg-blue-800">
  <div class="mx-auto container py-12 border-b-4 border-orange-400">
    <h1 class="text-white text-3xl font-semibold">{{ i18n "unikraft-blog" }}</h1>
  </div>
</div>

<div class="mid">
  <main class="main">
    <div class="mx-auto container">
      <div class="grid grid-cols-4">
        <div class="sm:border-l sm:border-r sm:border-gray-200 bg-white xl:px-6 col-span-3">
          <div class="divide-y">
            {{ $paginator := .Paginate (where .RegularPages "Type" .Type) }}
            {{ range $paginator.Pages }}
              {{ .Render "summary" }}
            {{ end }}
            {{ partial "main/component/pagination.html" . }}
          </div>
        </div>
        <div class="space-y-1 pt-4 ml-3">
          {{ partial "main/component/blog-sidebar.html" . }}
          {{ partial "main/component/tag-cloud" . }}
        </div>
      </div>
    </div>
  </main>
</div>
{{ end }}