{{ define "main" }}
<div class="top bg-backdrop bg-blue-800">
  <div class="mx-auto container py-12 border-b-4 border-orange-400">
    <h1 class="text-white text-3xl font-semibold">{{ i18n "unikraft-blog" }}</h1>
  </div>
</div>

<div class="mid">
  <main class="main">
    <div class="mx-auto container">
      <div class="grid grid-cols-4">
        <div class="sm:border-l sm:border-r sm:border-gray-200 bg-white xl:px-6 col-span-3">
          <div class="grid py-8 sm:grid-cols-4">
            <div class="mb-4 sm:mb-0">
              <div class="space-y-1 text-xs font-semibold tracking-wide uppercase">
                {{ partial "main/component/article-meta.html" . }}
              </div>
            </div>
            <div class="col-span-3">
              <div class="mb-3">
                <a href="{{ .Permalink }}" aria-label="Article" class="inline-block text-black transition-colors duration-200 hover:text-deep-purple-accent-700">
                  <p class="text-2xl font-medium leading-none hover:underline">
                    {{ .Title }}
                  </p>
                </a>
              </div>
              <div class="text-gray-700 prose">
                {{ .Content }}
              </div>
            </div>
          </div>
        </div>
        <div class="space-y-1 pt-4 ml-3">
          {{ partial "main/component/blog-sidebar.html" . }}
          <div class="toc pt-3">
            <h3 class="text-gray-900 font-semibold mb-4 text-sm leading-6 dark:text-gray-100">
              {{ i18n "toc-label" }}
            </h3>
            {{ .TableOfContents }}
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{{ end }}
