.alert {
  @apply px-4;
  @apply py-2;
  @apply rounded-lg;
  @apply border-none;

  @include themify($themes) {
    &-info {
      @apply bg-blue-100;
      color: themed('body-color');
    }

    &-success {
      @apply bg-green-100;
      color: themed('body-color');
    }

    &-warning {
      @apply bg-yellow-100;
      color: themed('body-color');
    }

    &-danger {
      @apply bg-red-100;
      color: themed('body-color');
    }
  }

  > h3 {
    margin-top: .2rem !important;
  }
}
