<div class="grid py-8 sm:grid-cols-4">
  <div class="mb-4 sm:mb-0">
    <div class="space-y-1 text-xs font-semibold tracking-wide uppercase">
      {{ partial "main/component/article-meta.html" . }}
    </div>
  </div>
  <div class="col-span-3">
    <div class="mb-3">
      <a href="{{ .Permalink }}" aria-label="Article" class="inline-block text-black transition-colors duration-200 hover:text-deep-purple-accent-700">
        <p class="text-2xl font-medium leading-none hover:underline">
          {{ .Title }}
        </p>
      </a>
    </div>
    <div class="text-gray-700 prose">
      {{ with .Params.Description }}
        {{ . }}
      {{ else }}
        {{ .Summary }}
      {{ end }}
    </div>
  </div>
</div>
