.mid {
  @include themify($themes) {
    background-color: themed('back-background-color');
  }
}

.bg-backdrop {
  position: relative;

  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    content: ' ';
    display: block;
    z-index: 0;
    position: absolute;
    background-image: url(/assets/imgs/backdrop.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  > * {
    z-index: 1;
    position: relative;
  }
}

.-bg-backdrop-20 {
  &:before {
    background-position: -20% center;
  }
}

.bg-backdrop-bottom {
  &:before {
    background-position: bottom center;
  }
}

.developer-friendly {
  .asciinema-player {
    @apply w-full;
    @apply rounded-lg;
    @apply shadow-xl;
    @apply ring-1;
    @apply ring-black;
    @apply ring-opacity-5;
    @apply bg-blue-900;
  }
}

.highly-modular {
  // background-color: rgb(5, 13, 32);
  background-color: #0D121F;
  .bg-grid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(51 65 85 / 0.5)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
    mask-image: linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.5))
  }
}

.cloud-native-ready {
  .bg-cloud-native-ready {
    @apply bg-gradient-to-br;
    @apply from-blue-900;
    @apply to-blue-800;
  
    position: relative;

    &::after {
      content: "";
      z-index: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      opacity: .2;
      mix-blend-mode: hard-light;
      background-image: transparent;
      background-image:
        radial-gradient(at 29% 68%,#88b2f7 0,transparent 48%),
        radial-gradient(at 96% 33%,#f099ce 0,transparent 51%),
        radial-gradient(at 68% 85%,#d96bdb 0,transparent 41%),
        radial-gradient(at 76% 55%,#80fed6 0,transparent 54%),
        radial-gradient(at 67% 90%,#f84949 0,transparent 50%),
        radial-gradient(at 98% 20%,#90c5e4 0,transparent 46%);
    }

    > * {
      z-index: 1;
    }
  }
}
