{{ if .Site.Params.enableNavbar }}
<nav class="nav">
  <div class="navbar__wrapper" data-bgimg="{{ if and ($.Params.landing.backgroundImage) .IsHome }}true{{ else }}false{{ end }}">
    <div class="container">
      <div class="navbar lmr {{ if .IsHome }}navbar-is-home{{ end }}">
        {{ partial "navbar/logo/navbar-logo.html" . }}

        <div class="navbar__menu--wrapper">
          {{ partial "navbar/logo/navbar-logo-mobile.html" . }}
          {{ partial "navbar/menu/navbar-menu-mobile.html" . }}
          <ul id="navMenu" class="navbar__menu hidden md:flex">
            {{ partial "navbar/menu/navbar-menu.html" . }}
          </ul>
        </div>
        <div class="grow"></div>
        <div id="siteSearch" class="hidden sm:block">
          {{ partial "navbar/search/site-search.html" . }}
        </div>
        <div id="mobileSearch" class="flex sm:hidden">
          {{ partial "navbar/search/site-search-mobile.html" . }}
        </div>
      </div>
    </div>
  </div>
</nav>
{{ end }}