.list-of-people {
  .person {
    img {
      margin-top: 0;
      margin-bottom: 0;
    }

    .pill {
      @apply text-sm;
      @apply py-0.5;
      @apply px-2;
      @apply rounded-full;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .pill-maintainer {
      @apply bg-green-300;
      @apply text-green-600;
    }

    .pill-core {
      @apply bg-orange-300;
      @apply text-orange-600;
    }

    .pill-reviewer {
      @apply bg-blue-300;
      @apply text-blue-600;
    }

    .pill-member {
      @apply bg-gray-300;
      @apply text-gray-600;
    }
  }
}
