#single-menu {
  position: relative;
}

.single {
  position: relative;
  width: 100%;
  overflow-wrap: break-word;

  &[data-display="block"] {
    display: block;
  }

  &[data-display="none"] {
    display: none;
  }

  &__title {
    font-size: 3rem;
    font-weight: 900;
    font-family: $title-font;
    line-height: 3rem;
    overflow-wrap: break-word;
    margin: 2rem 1rem 0.25rem;

    @include themify($themes) {
      color: themed("title-color");
    }
  }

  &__meta {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    padding:0 1rem;

    @include flexbox();
    @include align-items(center);
    @include themify($themes) {
      color: themed('meta-color');
    }
  }

  &__infos {
    margin-right: 0.5rem;

    @include flexbox();
    @include flex-wrap(wrap);
  }

  &__info {
    word-break: keep-all;
    padding: 0 0.125rem;
  }

  &__contents {
    @apply prose;
    @apply w-full;
    @apply p-6;
    @apply max-w-none;

    &--gallery {
      overflow: hidden;
    }

    figure img {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  &__tags {
    list-style-type: none;
    @include flexbox();
    @include align-items(center);
    @include flex-wrap(wrap);
    @include flex-grow(1);
  }

  &__tag {
    padding: 0 0.25rem;
  }
}

.prose {
  code, pre {
    padding: 0.25rem 1rem;
    line-height: 1.5;
    font-family: $code-font-stack;
    overflow: auto;
  
    a {
      text-decoration: none !important;
    }
  }

  pre {
    padding: 1rem;
  }

  // *:not(.highlight) {
  //   code, pre {
  //     @include themify($codeblock) {
  //       color: themed('content-pre-color');
  //       background: themed('content-pre-background-color');
  //     }
  //   }

  //   code {
  //     padding: 0;
  //   }
  // }

  li > input {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  code:not([class^=language]) {  
    padding: 3px 0;
    border-radius: 4px;
    @include themify($codeblock) {
      color: themed('content-code-in-pre-color');
    }
  }

  pre:not(.chroma) {
    overflow: auto;
  }
}

.single__contents > .language-code, li > .language-code {
  overflow-x: auto;
  position: relative;
  margin: 1rem 0;
  direction: ltr;

  @include on-event {
    .copy-to-clipboard {
      opacity: 1;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 2px 7px;
    width: 100%;
    z-index: z('toc'); 
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    content: '';

    @include themify($codeblock) {
      color: themed('content-pre-header-color');
      background: themed('content-pre-header-background-color');
    }
  }
}

.highlight > .chroma {
  margin-bottom: 1.5rem;
  z-index: z('content');
  overflow-x: auto;
  direction: ltr;

  @include themify($codeblock) {
    color: themed('content-pre-color');
    background: themed('content-pre-background-color');
  }

  code {
    padding: 0;
  }

  code[data-lang] {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      z-index: z('grid');
      height: 26px;
      width: 100%;
      display: inline-block;
      text-align: right;
      content: attr(data-lang);

      @include themify($themes) {
        color: themed('body-background-color');
        background: themed('body-background-color');
      }
    }

    &::after {
      position: absolute;
      top: 2px;
      right: 0;
      z-index: z('clipboard');
      padding: 0.125rem 0.25rem;
      height: 26px;
      font-family: $title-font;
      font-weight: bold;
      font-size: 0.85rem;
      line-height: 1.5;
      display: inline-block;
      border-top-left-radius: 0.2rem;
      content: attr(data-lang);

      @include themify($themes) {
        border: 1px solid themed('border-line-color');
        border-bottom: none;
      }

      @include themify($codeblock) {
        background: themed('content-pre-header-background-color');
      }
    }
  }
  
  table, tr, td {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
  }

  .lntd {
    &:first-child {
      width: 10px;
      @include no-select;
    }

    &:last-child {
      vertical-align: top;
    }
  }

  /* LineNumbersTable */  
  .lnt {
    margin-left: 0.2rem;
    margin-right: 0.5rem;
    @include themify($codeblock) {
      color: themed('content-pre-number-color');
    }
  }

  table.lntable {
    overflow-x: auto;

    @include themify($themes) {
      @include webkit-scrollbars(themed('custom-scrollbar-foreground-color'), themed('custom-scrollbar-background-color'));
      @include moz-scrollbars(themed('custom-scrollbar-foreground-color'), themed('custom-scrollbar-background-color'));
    }

    @include themify($codeblock) {
      border: 1px solid themed('content-pre-border-background-color');
    }
  }
}

li .highlight > .chroma {
  .lnt:first-child {
    padding: 0 0.3rem;
  }
  .lnt:not(:first-child) {
    padding: 0 0.3rem;
  }
}

td:not(.lntd) {
  code {
    padding: 2px 7px !important;
  }
}

table:not(.lntable) {
  // margin: 0 1rem;
  td {
    code {
      padding: 2px 7px !important;
    }
  }
}

.publication {
  &s {

  }


  &-title {

  }

  &-badges {
    img {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  &-authors {

  }
}