<div class="list-of-people space-y-8 py-4">
  {{ range $.Site.Data.people }}
  <div class="person flex items-center space-x-4">
    <img class="w-16 h-16 rounded-full" src="https://github.com/{{ .github }}.png" alt="">
    <div class="font-medium space-y-1">
      <a href="https://github.com/{{ .github }}" class="text-lg">{{ .name }}</a>
      <div>
        {{ range .maintains }}
          <a href="https://github.com/orgs/unikraft/teams/maintainers-{{ . }}" class="pill pill-maintainer pill-{{ . }}">{{ . }}</a>
        {{ end }}
        {{ range .reviews }}
          <a href="https://github.com/orgs/unikraft/teams/reviewers-{{ . }}" class="pill pill-reviewer">{{ . }}</a>
        {{ end }}
        {{ range .member }}
          <a href="https://github.com/orgs/unikraft/teams/sig-{{ . }}" class="pill pill-member">{{ . }}</a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
