Test the resulted library by calling the test function from the `app-kdtree` application.
